<!doctype html>

<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>social.rdf - admin</title>
  <meta name="author" content="Antonio Garrote">

  <link rel="stylesheet" href="/admin/css/bootstrap.min.css">
  <link rel="stylesheet" href="/admin/css/admin.css">
  <link rel="stylesheet" href="/admin/css/rdfstore_frontend.css">

  <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'></script>
  <script type='text/javascript' src='http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js'></script>
  <script type='text/javascript' src='./js/bootstrap-modal.js'></script>
  <script type='text/javascript' src='./js/bootstrap-tabs.js'></script>
  <script type='text/javascript' src='./js/rdf_store.js'></script>
  <script type='text/javascript' src='./js/semanticko.js'></script>
  <script type='text/javascript' src='./js/rdfstore_frontend.js'></script>
  <script type='text/javascript' src='./js/controller.js'></script>
  <script type='text/javascript'>
    jQuery(document).ready(function(){
      rdfstore.create(function(store) {
          window.store = store;

          store.load("remote", "/admin/configuration", function(result, data) {
              store.load("remote", "/admin/extensions", function(result, data){
                  store.load("remote", "/admin/objects", function(result, data){
                      // proxy instead of AJAX+CORS
                      store.load("remote", "/admin/webid", function(result, data){
                          /*
                           * CORS fails in some browsers (Firefox8), use call to proxy above (/admin/webid)
                           * store.execute("select ?webid { ?s <http://social-rdf.org/vocab/configuration#managed_webid> ?webid  }", function(err, res) {
                           *    console.log(res);
                           *    console.log("GOT WebID: "+res[0].webid.value);
                           *    store.load("remote", res[0].webid.value, function(result,data) {
                           */
                          sko.ready(store, function(){
                              // all data loaded, now always fire events
                              store.setBatchLoadEvents(true);
                              // load all the default namespaces
                              store.registerDefaultProfileNamespaces();
                              store.registerDefaultNamespace("srcfg","http://social-rdf.org/vocab/configuration#");
                              // initialize dependent observables
                              socialrdf.admin.controller.initialize(function(){
                                  sko.applyBindings("body", socialrdf.admin.controller, function(){});
                              });
                          });
                      });
                  });
              });
          });
      });
    });
  </script>
</head>

<body>

    <!-- Menu and drop-down list fo resources -->
    <div id='toolbar' class='topbar-wrapper'>
      <div class='topbar' data-dropdown="dropdown">
        <div class='topbar-inner'>
          <div class='container fixed'>
            <h3><a href='#'>social.rdf - admin</a></h3>
            
            <ul class='nav'>
              <li>
                <a href='#' data-bind="click: function(){ selectExtension('<http://social-rdf.org/vocab/WebID>') }">My WebID</a>
              </li>
              <li>
                <a href='#' data-bind="click: showRDFStoreFrontend">SPARQL frontend</a>
              </li>
            </ul>

            <ul class='nav secondary-nav' id='extensions-list'>
              <li class='dropdown' id='extensions-list-holder' data-bind="event: {mouseover: extensionsClickedIn, mouseout:extensionsClickedOut}, attr:{'class': showExtensionsList}">
                <a class='menu' href='#'>Extensions</a>
                <ul class='dropdown-menu' data-bind='template: "extensions-dropdown-template"'></ul>
              <li>
            </ul>

            <ul class='nav sencodary-nav' id='objects' style='float:right'>
              <a href='#' data-bind="click: showObjectBrowser">Objects</a>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <!-- div list template -->
    <script id='extensions-dropdown-template' type='text/html'>
      {{each sko.where("{ ?subject a <http://social-rdf.org/vocab/Extension> }")()}}
        <li about='${$value}'>
          <a href='#' data-bind='text: <http://social-rdf.org/vocab/extensions#identifier>, click: function(){ socialrdf.admin.controller.selectExtension($value); }'></a>
        </li>
      {{/each}}
    </script> 

    <!-- RDFStore frontend -->
    <div id='frontend-overlay'></div>
    <div id='frontend' style='position: absolute; width:95%; top:0; left:2%'></div>


    <!-- Main content frames -->
    <div id='content' class='container' data-bind='template:"panel-for-extension"' style='margin-top:100px'>
    </div>

    <!-- ********************************************************************** -->
    <!-- Template that will render the correct panel for the selected extension -->
    <!-- ********************************************************************** -->
    <script id='panel-for-extension' type='text/html'>
      {{if selectedExtension()==='<http://social-rdf.org/vocab/WebID>'}}
        {{if isLocalWebID()===true }}
          <section about='webid' data-bind='template:"panel-webid-edit"'></section>
        {{else}}
          <div id='webid-profile'><p>remote WebID</p></div>
        {{/if}}
      {{else selectedExtension()==='<http://social-rdf.org/vocab/objectBrowser>'}}
	    <section data-bind='template:"object-browser-panels"'></section>
      {{else}}
        {{if isSelectedExtensionInstalled()===false }}
            <section about='selectedExtension' id='section-install-extension' data-bind='template:"panel-install-extension"'></section>
        {{else}}
            <section about='selectedExtension' id='section-install-extension' data-bind='template:"panel-install-extension"'></section>
        {{/if}}
      {{/if}}
    </script>

    <!-- Template for WebID edition -->
    <script id='panel-webid-edit' type='text/html'>
      
      <div class='page-header' id='local-webid-edit'>
        <h1>Editing WebID:&nbsp;<a target='_blank' data-bind='text:sko.plainUri(sko.current().getProp("[foaf:maker]")), attr: {href: sko.current().prop("<http://xmlns.com/foaf/0.1/maker>")}'>WebID</a></h1>
      </div>

      <div class='row'>
        <span class='span13'>&nbsp</span>
        <div class='span3' style='text-align:right; margin-top:10px'>
          <a href='#' 
             class='btn large success'
             data-bind='click:function(){ updateWebID() }'>
            Save WebID
          </a>
        </div>
      </div>

      <!-- tabs -->
      <ul class='tabs' data-tabs='tabs'>
        <li class='active'>
          <a href='#webid-new-property-tab'>Properties</a>
        </li>
        <li>
          <a href='#webid-accounts-properties'>Accounts</a>
        </li>
      </ul>

      <div class='tab-content'>
        <!-- WebID properties tab pane -->
        <div class='tab-pane active' id='webid-new-property-tab'>

          <div class='row'><span class='span16'>&nbsp</span></div>
           
          <div class='row'>
            <div class='span4'><h2>Public Properties</h2></div>
            <div class='span12' style='text-align:right'>
                <a href='#' 
                   class='btn primary'
                   data-bind='click:function(){ newPropertyWebID.openPropertyWebIDModal() }'>
                  New Property
                </a>                      
            </div>
          </div>

          <div class='row'><span class='span16'>&nbsp</span></div>
           
          <div class='row'>
            <div class='span16'>
              <table class='webid-property-table bordered-table zebra-striped'>
                <thead><tr><th>Property</th><th>Value</th><th>Actions</th></tr></thead>
                {{each webidProperties}}
                  <tr>
                    <td><a target='_blank' data-bind="text:$value.prop, attr:{href:$value.prop}"></a></td>
                    {{if $value.val.indexOf("http://") == 0 }}
                      <td><a target='_blank' data-bind='text: $value.val, attr:{href: $value.val}'></a></td>
                    {{else}}
                      <td data-bind='text: <$value.prop>'></td>
                    {{/if}}
           
                    <td>
                      {{if ($value.prop != "http://xmlns.com/foaf/0.1/maker" && $value.prop != "http://xmlns.com/foaf/0.1/primaryTopic")}}
                        <button class='btn' data-bind='click:function(){ newPropertyWebID.editProperty($value.prop) }'>
                          Edit
                        </button>
                        <button class='btn' data-bind="click:function(){ newPropertyWebID.removeProperty($value.prop) }">Remove</button>
                      {{else}}
                        <span class='label'>non editable</span>
                      {{/if}}
                    </td>
                  </tr>
               {{/each}}
              </table>
            </div>
          </div>
        </div>
         
        <!-- WebID accounts tab pane -->
        <div class='tab-pane' id='webid-accounts-properties' data-bind='template: "panel-webid-accounts"'>
        </div>
      </div>

    </script>

    <!-- webid account selection panel -->
    <script id='panel-webid-accounts' type='text/html'>
       <div class='row'><span class='span16'>&nbsp</span></div>
        
       <div class='row'>
         <div class='span10'><h2>Accounts Information</h2></div>
       </div>

       <div class='row'><span class='span16'>&nbsp</span></div>

       <!-- account selection -->
       <div class='row'>
         <div class='span4'>
           <h3>Account selection</h3>
           <p>Select an account to link its properties into your public WebID profile</p>
         </div>
         <div class='span12'>
           <form>
             <fieldset>
               <div class='clearfix'>
                 <label>Service:</label>
                 <div class='input'>
                   <select data-bind="options: installedExtensions, optionsText: 'label', value: accountsWebID.selectedAccount, optionsCaption: 'Choose...'"></select>
                 </div>
               </div>
             </fieldset>
           </form>
         </div>
       </div>

       <div class='row'><span class='span16'>&nbsp</span></div>

       <!-- export account info -->
       {{if accountsWebID.selectedAccount()!=null}}
         <div class='row'>
           <div class='span16'>
             <table class='webid-account-properties-table bordered-table zebra-striped'>
                <thead><tr><th>Property</th><th>Value</th><th>Export</th></tr></thead>
                {{each accountsWebID.selectedProperties}}
                  <tr>
                    <td><a target='_blank' data-bind="text:$value.property, attr:{href:$value.property}"></a></td>
                    {{if $value.value.indexOf("http://") == 0 }}
                      <td><a target='_blank' data-bind='text: $value.value, attr:{href: $value.value}'></a></td>
                    {{else}}
                      <td data-bind='text: $value.value'></td>
                    {{/if}}
                    <td>
                      {{if ($value.prop != "http://xmlns.com/foaf/0.1/maker" && $value.prop != "http://xmlns.com/foaf/0.1/primaryTopic")}}
                        <input type='checkbox' data-bind='checked: $value.public==true, event:{ change: function(event){ accountsWebID.updateAccountProperty($value.property, event) } }'></input>
                      {{else}}
                        <span class='label'>non editable</span>
                      {{/if}}
                    </td>
                  </tr>
                {{/each}}
             </table>
           </div>
         </div>
       {{/if}}
    </script>    

    <!-- new property modal -->
    <div id='new-webid-property-modal' style='display:none' class='modal'>
      <div class='modal-header'>
        <h2 data-bind='text: (newPropertyWebID.editionMode()==="edit") ? "Edit WebID Public Property" : "New WebID Public Property" '></h2>
      </div>
      <div class='alert-message error' style='display:none'>There was an error, check your values and try again.</div>
      <form class='modal-body' data-bind='submit: newPropertyWebID.createNewProperty'>
        <fieldset>

          <div class='clearfix'>
            <label>Property:</label>
            <div class='input'>
              <select class='xlarge' data-bind='options: foafProperties, value: newPropertyWebID.selectedPropertyURI'></select>
            </div>
          </div>

          <div class='clearfix' data-bind='visible: newPropertyWebID.selectedPropertyURI()=="other"'>
            <label>Property URI:</label>
            <div class='input'>
              <input class='xlarge' data-bind='value:newPropertyWebID.customPropertyURI'></input>
            </div>
          </div>

          <div class='clearfix'>
            <label>Value Type:</label>
            <div class='input'>
              <select class='xlarge' data-bind='options: newPropertyWebID.propertyTypeOptions, value: newPropertyWebID.propertyTypeSelected'></select>
            </div>
          </div>

          <div data-bind='template:"new-property-modal-value-template"'>
          </div>
        </fieldset>
      </form>
      <div class='modal-footer'>
        <a href='#' class='btn primary' data-bind="click: function(){ jQuery('#new-webid-property-modal form').trigger('submit'); }">Accept</a>
        <a href='#' class='btn secondary' data-bind="click: newPropertyWebID.clearModal">Cancel</a>
      </div>
    </div>

    <!-- Template that renders the value part of the property modal -->
    <script id='new-property-modal-value-template' type='text/html'>
      {{if newPropertyWebID.propertyTypeSelected()=='URI'}}
        <div class='clearfix' >
          <label>Value:</label>
          <div class='input'>
            <input class='xlarge' data-bind='value:newPropertyWebID.customValue'></input>
          </div>
        </div>
      {{else}}
        <div class='clearfix' >  
          <label>Value:</label>
            <div class='input'>
              <input  class='xlarge' data-bind='value:newPropertyWebID.customValue'></input>
            </div>
        </div>
        <div class='clearfix' >  
          <label>Data Type:</label>
            <div class='input'>
                <select class='xlarge' data-bind='options: xsdTypes, value: newPropertyWebID.selectedXsdType'>
                </select>
            </div>
        </div>
        <div class='clearfix' data-bind="visible: newPropertyWebID.selectedXsdType()=='other'">  
          <label>Data Type URI:</label>
            <div class='input'>
                <input class='xlarge' data-bind='value: newPropertyWebID.customDataType'></input>
            </div>
        </div>
      {{/if}}
    </script>

    <!-- Template for a extension installation -->
    <script id='panel-install-extension' type='text/html'>
      <div class='page-header' id='install-extension-edit'>
        {{if isSelectedExtensionInstalled()===false }}
          <h1 class='row'>Install extension: <a href='#' data-bind='text: <http://social-rdf.org/vocab/extensions#identifier>'></a></h1>
        {{else}}
          <h1 class='row'>Update extension: <a href='#' data-bind='text: <http://social-rdf.org/vocab/extensions#identifier>'></a></h1>
        {{/if}}
      </div>
      <div class='row'>
        <div class='span4'>
          <h2>About</h2>
          <p data-bind='text:<http://www.w3.org/2000/01/rdf-schema#label>'></p>
        </div>
        <div class='span12'>
          <form id='configuration-data-form' data-bind='template: "extension-configuration-data"'></form>
        </div>
      </div>
      {{if isSelectedExtensionInstalled()===false }}
        <div class='row'>
          <div class='span4'>
            <h2>URL bindings</h2>
            <p>Definition of the URLs where the data generated by this extension will be available. It also makes possible to define if the resource will be publicly available.</p>
          </div>
          <div class='span12'>
            <form id='url-bindings-form' data-bind='template: "extension-url-bindings"'></form>
          </div>
        </div>
      {{/if}}
      <div class='row'>
        <div class='span4'>&nbsp;</div>
        <div class='span12'>
          <form  action=''>
            <div class='actions'>
              {{if isSelectedExtensionInstalled()===false }}
                <button class='btn primary' type='submit' data-bind="click: installExtension}">Install extension</button>
              {{else}}
                <button class='btn primary' type='submit' data-bind="click: updateExtension}">Update extension</button>
              {{/if}}
            </div>
          </form>
        </div>
      </div>
    </script>

    <!-- configuration data -->
    <script id='extension-configuration-data' type='text/html'>
      <!-- if the extension is installed, the linked account is the
      subject for all these properties-->
      {{if isSelectedExtensionInstalled()===false }}
        <fieldset>
      {{else}}
        <fieldset class='extension-account-update-info' about='${selectedAccount}'>
      {{/if}}
        <legend>Extension configuration data</legend>
        {{each sko.where("{ "+socialrdf.admin.controller.selectedExtension()+" <http://social-rdf.org/vocab/extensions#configurationData> ?subject }")()}}

          <!-- only register the property if the extension is not
          installed, otherwise, the subject is the account linked to
          the installed extension-->
          {{if isSelectedExtensionInstalled()==false}}
            <div class='clearfix extension-configuration-option' about='${$value}'>
          {{else}}
            <div class='clearfix extension-configuration-option'>
          {{/if}}

            {{if isSelectedExtensionInstalled()==true}}
              <label about='${$value}' tmp='$value' data-bind='text: <http://www.w3.org/2000/01/rdf-schema#label>'></label>
            {{else}}
              <label data-bind='text: <http://www.w3.org/2000/01/rdf-schema#label>'></label>
            {{/if}}
            <div class='input'>

                <!-- get the default value if the extension is not
                installed, of the value in configured in the linked
                account -->
                {{if isSelectedExtensionInstalled()===false }}
                    <input class='xlarge extension-configuration-option-value span9' type='text' data-bind='value: <http://social-rdf.org/vocab/configuration#hasValue>'>                 
                {{else}}
                    <input class='xlarge extension-configuration-option-value span9' 
                           type='text'
                           data-bind='value: sko.current().tryProperty($value)'>                 

                {{/if}}
                <span class='help-block' data-bind='text: <http://social-rdf.org/vocab/configuration#help>'></span>
              </div>
            </div>
          </div>
        {{/each}}
      </fieldset>
    </script> 


    <!-- URL bindings -->
    <script id='extension-url-bindings' type='text/html'>
      <fieldset>
        <legend>Resources exposed</legend>
        {{each sko.where("{ "+socialrdf.admin.controller.selectedExtension()+" <http://social-rdf.org/vocab/extensions#dataPublished> ?subject }")()}}
          <div class='clearfix extension-url-binding' about='${$value}'>
            <label data-bind='text: <http://www.w3.org/2000/01/rdf-schema#label>'></label>
            <div class='input'>
              <div class='input-append'>
                 <input type='text' class='large' data-bind='value: <http://social-rdf.org/vocab/configuration#hasValue>'></input>
               <label class='add-on active'>
                 <input class='public-resource-check' type='checkbox' data-bind='checked: sko.current().getProp("http://social-rdf.org/vocab/configuration#isPublic")==="true"'></input>
               </label>                             
              </div>
            </div>
          </div>
          <div class='clearfix'  about='${$value}'>
            <label></label>
            <div class='input'>
              <span class='help-block' data-bind='text: <http://social-rdf.org/vocab/configuration#help>'></span>
            </div>
          </div>

        {{/each}}
      </fieldset>
    </script> 

    <!-- Template for object browser -->
    <script id='object-browser-panels' type='text/html'>
      <div class='container-fluid'>
	<div class='sidebar'>
	  <ul>
	    {{each objectTypes}}
    	      <li><a href='#' data-bind='text: $value.label, click: function(){ selectObjectType($value.value) }'></a></li>
            {{/each}}
	  </ul>
	</div>
	<div class='content'>
	  objecs here
	</div>
      </div>
    </script>

</body>

</html>
